.root {
    -fx-background-color: #4286f4;
}

.button {
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 5 10 5 10;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: #6bb9f0;
}

.button:armed {
    -fx-background-color: #3c7fb1;
}

.titleText {
    -fx-font-size: 56px;
    -fx-font: 56px "Chaparral Pro Light";
}

.subtitleText {
    -fx-font-family: fantasy;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.loggedInVBox {
	-fx-border-color: black;
	-fx-border-width: 1px;
}

.errorMessage {
	-fx-text-fill: #f4f142;
	-fx-font-weight: bold;
}


.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #6bb9f0;
}

.combo-box-base
{
   -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.text-field {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

