.root {
    -fx-background-image: url("WaterBackground.jpg");
    -fx-background-size: cover;
}

.button {
    -fx-background-color:
            #3c7fb1,
            linear-gradient(#fafdfe, #e8f5fc),
            linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 5 10 5 10;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.titleText {
    -fx-font-family: fantasy;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 56px;
}

.subtitleText {
    -fx-font-family: fantasy;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.loggedInVBox {
	-fx-border-color: black;
	-fx-border-width: 1px;
}
